<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/favicon.ico">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000"/>
    <link rel="apple-touch-icon" href="/images/icons/icon192x192.png">

    <title>Restaurant</title>
</head>
<body>
<a href="#maincontent" class="skip-link">to Main content</a>
    <nav>
        <div class="nav-wrapper container">
            <a class="logo-brand" href="/">
                <img src="./images/logo-lg.png" alt="logo-brand">
            </a>
            <button id="hamburger" aria-label="hamburger-nav" class="hamburger">
                <img src="./images/hamburger.png" alt="">
            </button>
            <ul id="drawer" class="menu-wrapper">
                <li class="link-wrapper"><a class="nav-link" href="/">Home</a></li>
                <li class="link-wrapper"><a class="nav-link" href="/#/restaurants">Restaurants</a></li>
                <li class="link-wrapper"><a class="nav-link" href="#">Favorites</a></li>
                <li class="link-wrapper"><a class="nav-link" href="https://danang-portofolio.web.app/">About Us</a></li>
            </ul>
        </div>
    </nav>

    <div id="content-wrapper">
        
    </div>

    <footer>
        <div class="container">
            <img class="footer-logo" src="./images/logo-lg.png" alt="footer-logo">
            <div class="footer-content">
                <div>
                    <p>Best burger since 2015. Looking for a great burger
                        restaurant? We’ve got you covered! Check out our menu!</p>
                </div>
                <ul class="footer-location">
                    <li class="footer-list">
                        <p>
                            <strong class="footer-list-title">Location: </strong>
                            Los Angeles, Burger House
                        </p>
                    </li>
                    <li class="footer-list">
                        <p>
                            <strong  class="footer-list-title">Email: </strong>
                            info@mycompany.com
                        </p>
                    </li>
                    <li class="footer-list">
                        <p>
                            <strong  class="footer-list-title">Phone: </strong>
                            + 1234 5679 0
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
               <p>
                    Copyright © 2021 - Restaurant Apps
               </p>
            </div>
        </div>
    </footer>
</body>
</html>
